.main-wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .body-wrapper {
    flex-grow: 1;
    padding: 50px;
    overflow-x: auto;
    background-color: #F8F9FB;

    .welcome-back {
      align-items: center;
      display: flex;
      margin-bottom: 40px;
      font-size: 18px;

      img {
        background: #ff8366;
        margin-right: 19px;
        border-radius: 50%;
      }

      .question {
        margin-top: 4px;
        font-size: 15px;
        opacity: 0.5;
      }
    }

    .quick-data-background {
      width: 100%;
      height: 14vh;
      border-radius: 6px;
      margin-bottom: 40px;

      .quick-data {
        border-top: 1px solid rgba(224, 224, 224, 1);
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        .quick-data-item {
          display: flex;
          width: 25%;

          .quick-data-info {
            align-self: center;
            margin-left: 10px;

            .header {
            }

            .data-wrapper {
              display: flex;
              align-items: center;

              .data {
                font-size: 30px;
                margin: 5px 0px;
              }

              .icon {
                background: #ff8366;
                padding: 3px 6px;
                margin-left: 10px;
                border-radius: 7px;

                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }

            .small-info {
              font-size: 14px;
              opacity: 50%;
            }
          }
        }
      }
    }
  }
}